<!-- Post something form -->
<%= form_with model: @post, :url => user_posts_path(@user) do |form|  %>
    <!-- Error management -->
    <%= render 'show_post_errors', locals: {:_post => @post} %>
    
    <!-- content -->
    <%= form.label :content, 'What\'s on your mind ?' %></br>
    <%= form.text_area :content %></br>

    <!-- Submit -->
    <%= form.submit 'Post !'%>

<% end %>

    