
<% 
    # -----------------------------
    # Add the mentions in the post content
    # -----------------------------
    def addMentionLinks(text)
        # @mention management
        newText = text.dup
        text.scan(/@(\w+)/) do |mentions|
            mentions.each do |mentionnedUser|
                atMention = "@#{mentionnedUser}"
                user = User.find_by( nickname: mentionnedUser )
                if user.nil? == false
                    newText.gsub!(atMention, (link_to atMention, user_path(user))) 
                end
            end
        end

        # return
        newText
    end

    # -----------------------------
    # Add the custom links in the post content
    # -----------------------------
    def addUrlLinks(text)
        # @mention management
        newText = text.dup
        text.scan(/((?:http|www)[^\s]+\.\w+)/) do |links|
            links.each do |link|
                externLink = link.dup;
                externLink = "http://#{link}" if link.include?('http://') == false
                newText.gsub!(link, (link_to nil, externLink)) 
            end
        end

        # return
        newText
    end

    # -----------------------------
    # Add the all the links in the post content
    # -----------------------------
    def addLinksToPost(post)
        resultText = post.content
        resultText = addMentionLinks(resultText)
        addUrlLinks(resultText)

    end
%>



<p>
    <%= _post.created_at %>
    <% if _post.updated_at != _post.created_at %>
        (Edited)
    <% end %>
    
    <% if _post.user.id == session[:current_user_id] %>
        <%= link_to 'Edit', edit_user_post_url(@user, _post) %>
        <%= link_to 'Show', user_post_url(@user, _post) %>
        <%= link_to 'Delete', user_post_url(@user, _post), method: :delete %>
    <% end %>
    
    </br>

    <% concat addLinksToPost(_post).html_safe %></br>
    
    <% if @likes[@user.id] %>
        You like this !
    <% else %>
        <%= button_to 'Like', {:controller => 'likes', :action => 'create', :user_id => @user.id, :post_id => _post.id} %></br></br>
    <% end %>

</p>