<!-- Post something form -->
<%= form_with model: @post, local: true, :url => user_post_path(@user, @post) do |form|  %>
    <!-- Error management -->
    <%= render 'show_post_errors', locals: {:_post => @post} %>
    
    <!-- content -->
    <%= form.label :content %></br>
    <%= form.text_area :content %></br>

    <!-- Submit -->
    <%= form.submit 'Edit !'%>

<% end %>

    