<%= form_with scope: :user, local: true, url: {controller: :sessions, action: :create} do |form| %>

    <!-- Nickname -->
    <%= form.label :nickname %>
    <%= form.text_field :nickname %>

    <!-- Password -->
    <%= form.label :password %>
    <%= form.password_field :password %>

    <!-- Submit -->
    <%= form.submit 'Log in'%>
<% end %>