<%= form_for @user, scope: :user, local: true, url: {controller: :users, action: 'create'} do |form| %>
    <!-- Nickname -->
    <%= form.label :nickname %>
    <%= form.text_field :nickname %> </br>

    <!-- Email -->
    <%= form.label :email %>
    <%= form.text_field :email %> </br>

    <!-- Birthday -->
    <%= form.label :birthday %>
    <%= form.date_field :birthday %> </br>
    
    <!-- Password -->
    <%= form.label :password %>
    <%= form.password_field :password %> </br>
    
    <!-- Password  -->
    <%= form.label :password_double_check %>
    <%= form.password_field :password_double_check %> </br>

    <!-- Submit -->
    <%= form.submit 'Sign up !'%> 
<% end %>