<!-- Error management -->
<% if defined?(_user) && _user.errors.any? %>
    Please correct the form following the next errors:
    <ul>
        <% _user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>