<!-- Error management -->
<% if defined?(_post) && _post.errors.any? %>
    There is a probleme with your post:
    <ul>
        <% _post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
