<%= render partial: 'show_users_errors', locals: {:_user => @user} %>

<%= form_with model: @user, local: true do |form| %>

    <!-- Bio -->
    <%= form.label :bio %></br>
    <%= form.text_area :bio %></br>

    <!-- Birthday -->
    <%= form.label :birthday %>
    <%= form.date_field :birthday %></br>

    <!-- Submit -->
    <%= form.submit 'Update' %>

<% end %>