<% if @users.nil? == false && @users.empty? == false %>
    <p> List of all users: </p> </br>
    <!-- Render all users -->
    <!-- TODO: user search -->
    <% @users.each do |user| %>
        <%= render partial: 'show_short', locals: {:_user => user} %>
    <% end %>

<% end %>