
<!-- Edit button for user profile -->
<% if defined?(session) && @user.id == session[:current_user_id] %>
    <%= link_to 'Edit', edit_user_path(@user) %> </br>
<% end%>

<!-- Name + bio -->
<h1> <%= @user.nickname %> </h1>
<div> <%= @user.bio %> </div>

<!-- Post something form if current profile -->
<% if defined?(session) && @user.id == session[:current_user_id] %>
    <%= render partial: 'posts/new_form', locals: {:_user => @user, :_post => @post} %>
<% end %>



<!-- Print thread -->
<%= render partial: 'show_timeline', locals: {:_posts => @posts} %>